---
import AuthorCard from '@/components/AuthorCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const authors = await getCollection('authors')
---

<Layout title="авторы" description="список авторов.">
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'авторы', icon: 'lucide:users' }]} />
    {
      authors.length > 0 ? (
        <ul class="not-prose flex flex-col gap-4">
          {authors.map((author) => (
            <li>
              <AuthorCard author={author} />
            </li>
          ))}
        </ul>
      ) : (
        <p class="text-center text-muted-foreground">не найдено авторов.</p>
      )
    }
  </Container>
</Layout>
