---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import MyProjectCard from '@/components/MyProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const myprojects = await getCollection('myprojects')
---

<Layout title="about me" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'about me', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p>
            13 y.o., doing something in glua, tried plain lua, and luau
          </p>
          <p>
            10 nicknames, so what (polar/polarity/pulsar/puls/polxr/polxrity/pulsrr/pls/pol/dexx)
          </p>
        </div>
        <h2 class="mb-4 text-2xl font-semibold">my projects</h2>
        <div class="flex flex-col gap-4">
          {myprojects.map((myprojects) => <MyProjectCard myproject={myprojects} />)}
        </div>
      </div>
    </section>
  </Container>
</Layout>