---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import MyProjectCard from '@/components/MyProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const myprojects = await getCollection('myprojects')
---

<Layout title="о себе" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'о себе', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p>
            мне 13 лет, я делаю что-то на GLua, пробовал просто луа, и luau, живу в украине
          </p>
          <p>
            да, у меня 10 ников, и че(polar/polarity/pulsar/puls/polxr/polxrity/pulsrr/pls/pol/dexx)
          </p>
        </div>
        <h2 class="mb-4 text-2xl font-semibold">МОИ проекты</h2>
        <div class="flex flex-col gap-4">
          {myprojects.map((myprojects) => <MyProjectCard myproject={myprojects} />)}
        </div>
      </div>
    </section>
  </Container>
</Layout>