---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { supabase } from "../lib/supabase";
import { type GuestbookEntry } from "../components/Reviews";

// Проверяем наличие данных пользователя
const { email } = Astro.locals;

// Если email отсутствует, пользователь будет перенаправлен middleware

const { data } = (await supabase
  .from("guestbook")
  .select("name, message")
  .order("created_at", { ascending: false })) as { data: GuestbookEntry[] };
---

<div class="col-start-1 col-span-7 md:col-span-2 md:row-span-4 md:row-start-4 bg-[#171717] p-5">
<Layout title="ссылки" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'ссылки', icon: 'lucide:info' }]} />
    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p>
            бляяя тест
          </p>
          <!-- Контент для авторизованных пользователей -->
        </div>
      </div>
    </section>
  </Container>
</Layout>