---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
---
<div class="col-start-1 col-span-7 md:col-span-2 md:row-span-4 md:row-start-4 bg-[#171717]  p-5">
<Layout title="ссылки" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'ссылки', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p>
            все ссылки тута
            <h1>dexx</h1>
            <h2>
            <Link
              href={'https://discord.com/users/999589862158114848'}
            > 
            discord
            </Link></h2>
            <h2>
            <Link
              href={'https://github.com/1dexx1'}
            > 
            github
            </Link></h2>
            <h2>
            <Link
              href={'https://boosty.to/1dexx1'}
            > 
            boosty
            </Link></h2>
            <h2>
            <Link
              href={'https://steamcommunity.com/id/1dexx1'}
            > 
            steam
            </Link></h2>
            <br>
            <h1>nelsoni</h1>
            <h2>
              <Link
                href={'https://discord.com/users/802521064059305984'}
              > 
              discord
              </Link></h2>
          </p>
        </div>
      </div>
    </section>
  </Container>
</Layout>