---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
---

<div class="col-start-1 col-span-7 md:col-span-2 md:row-span-4 md:row-start-4 bg-[#171717]  p-5">
<Layout title="вилки" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'вилки', icon: 'lucide:info' }]} />
    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p>
            <h1>
              1. Что это такое, клуб вилок?
            </h1>
            <h2>
              Клуб вилок, это культ, который был создан воинами, во время нападения на "Великий вилочный холм"
            </h2>
            <h2>    
              Великий вилочный холм - это холм, который был затоплен дождями, находился он на украинской стороне горной системы "Карпаты"
            </h2>
            <h1>
              2. Зачем?
            </h1>
            <h2>
              (По приколу, по рофлу(ntime reference???77))
            </h2>
            <h2>
              Клуб был создан в результате распада Советского Союза в 1991, что-бы показать капиталистам, кто тут папочка😎 
            </h2>
            <h1>
              3. Кто участвует в клубе?
            </h1>
            <h2>
              В клубе участвуют: 
            <Link href=/members/tizar> саня</Link>,
            <Link href=/members/wikanger> вика</Link>,
            <Link href=/members/lisa> ферретс </Link> и
            <Link href=/members/polar> я </Link>
            </h2>
          </p>
        </div>
      </div>
    </section>
  </Container>
</Layout>